footer {
    background: #4b1309;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.contact-info,
.contact-form,
.s_m {
    flex: 1;
    min-width: 250px;
    margin: 10px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #bbbbbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.contact-info ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}

.contact-form button {
    padding: 5px 15px;
    border: 1px solid rgba(171, 185, 167, 0.856);
    border-radius: 16px;
    background-color: rgba(165, 42, 42, 0.856);
    color: #fff;
    margin-top: 15px;
    cursor: pointer;
}

.all_2 {
    background-color: transparent;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    margin: 100px auto;
}

.s_m p {
    font-size: 24px;
    font-weight: bold;
    color: rgb(39, 30, 30);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.s_m ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.s_m li {
    display: inline-block;
}

.social-link {
    text-decoration: none;
    font-size: 18px;
    color: rgb(42, 6, 6);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 10px;
    border-radius: 8px;
    transition: transform 0.3s ease, background 0.3s ease;
}

.social-link:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    animation: neon 1s infinite alternate;
}

#face:hover {
    background: rgba(141, 156, 213, 0.842);
}

#insta:hover {
    background-color: rgb(174, 88, 174);
}

#ytb:hover {
    background: rgba(219, 118, 118, 0.842);
}

.social-link i {
    font-size: 24px;
}

@keyframes neon {
    0% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    }

    50% {
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    }

    100% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    }
}